{% extends _layout %}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">{{ line('reports_report_input') }}</div>
                    <div class="panel-body">
                        {%if(error is not empty)%}
                            <div class='error_message'>{{error}}</div>
                        {%endif%}
                        {{form_label(line('reports_date_range'), 'report_date_range_label', {'class':'required'})}}
                        <div id='report_date_range_simple'>
                            <input type="radio" name="report_type" id="simple_radio" value='simple' checked='checked'/>
                            {{form_dropdown('report_date_range_simple',report_date_range_simple, '', 'id="report_date_range_simple"')}}
                        </div>

                        <div id='report_date_range_complex'>
                            <input type="radio" name="report_type" id="complex_radio" value='complex' />
                            {{form_dropdown('start_month',months, selected_month, 'id="start_month"')}}
                            {{form_dropdown('start_day',days, selected_day, 'id="start_day"')}}
                            {{form_dropdown('start_year',years, selected_year, 'id="start_year"')}}
                            -
                            {{form_dropdown('end_month',months, selected_month, 'id="end_month"')}}
                            {{form_dropdown('end_day',days, selected_day, 'id="end_day"')}}
                            {{form_dropdown('end_year',years, selected_year, 'id="end_year"')}}
                        </div>

                        {{form_label(specific_input_name, 'specific_input_name_label', {'class':'required'})}}

                        <div id='report_specific_input_data'>
                            {{form_dropdown('specific_input_data',specific_input_data, '', 'id="specific_input_data"')}}
                        </div>

                        <div>
                            Export to Excel: <input type="radio" name="export_excel" id="export_excel" value='1' /> Yes
                            <input type="radio" name="export_excel" id="export_excel_no" value='0' checked='checked' /> No
                        </div>

                        {{form_button({
	'name':'generate_report',
	'id':'generate_report',
	'content':line('common_submit'),
	'class':'btn btn-success'})
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
{% block javascript %}
    {{parent()}}
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#generate_report").click(function () {
                var export_excel = 0;
                if ($("#export_excel").is(':checked')) {
                    export_excel = 1;
                }
                if ($("#simple_radio").is(':checked')) {
                    window.location = window.location + '/' + $("#report_date_range_simple option:selected").val() + '/' + $('#specific_input_data').val()
                            + '/' + export_excel;
                }
                else {
                    var start_date = $("#start_year").val() + '-' + $("#start_month").val() + '-' + $('#start_day').val();
                    var end_date = $("#end_year").val() + '-' + $("#end_month").val() + '-' + $('#end_day').val();

                    window.location = window.location + '/' + start_date + '/' + end_date + '/' + $('#specific_input_data').val() + '/' + export_excel;
                }
            });
        });
    </script>
{%endblock%}