{% extends _layout %}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">{{ line('reports_report_input') }}</div>
                    <div class="panel-body">
                        {%if(error is not empty)%}
                            <div class='error_message'>{{error}}</div>
                        {%endif%}
                        {{ form_label(specific_input_name, 'specific_input_name_label', {'class':'required'}) }}

                        <div id='report_specific_input_data'>
                            {{form_dropdown('specific_input_data',specific_input_data, '', 'id="specific_input_data"')}}
                        </div>

                        <div>
                            Export to Excel: <input type="radio" name="export_excel" id="export_excel_yes" value='1' /> Yes
                            <input type="radio" name="export_excel" id="export_excel_no" value='0' checked='checked' /> No
                        </div>

                        {{form_button({
	'name':'generate_report',
	'id':'generate_report',
	'content':line('common_submit'),
	'class':'btn btn-success'})
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
{% block javascript %}
    {{parent()}}

    <script type="text/javascript" language="javascript">
        $(document).ready(function ()
        {
            $("#generate_report").click(function ()
            {
                var export_excel = 0;
                if ($("#export_excel_yes").attr('checked'))
                {
                    export_excel = 1;
                }
                window.location = window.location + '/' + $('#specific_input_data').val() + '/' + export_excel;
            });
        });
    </script>
{% endblock%}