{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables-fixedcolumns/css/dataTables.fixedColumns.css"/>
    {#<link rel="stylesheet" href="{{base_url()}}css/phppos.css"/>#}
{% endblock %}
{% block header %}
    {% if export_excel == 0 %}
        {% include 'partials/header.html.twig' %}
    {% else %}
        {% include 'partials/header_excel.html.twig' %}
    {% endif %}
{% endblock %}
{%block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ title }}
                        <span>{{ subtitle }}</span>
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="dataTable display" id="sortable_table">
                                <thead>
                                    <tr>
{#                                        <th>+</th>#}
                                            {% for header in headers['summary'] %}
                                            <th>{{ header }}</th>
                                            {%endfor%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, row in summary_data %}
                                        <tr class="{{loop.index%2==0?'odd gradeX':'even gradeA'}}">
{#                                            <td><a href="#" class="expand">+</a></td>#}
                                            {%for cell in row %}
                                                <td class="">{{cell}}</td>
                                            {% endfor %}
                                        </tr>
                                        {#<tr>
                                            <td colspan="100">
                                                <table class="innertable">
                                                    <thead>
                                                        <tr>
                                                            {% for header in headers['details'] %}
                                                                <th>{{header}}</th>
                                                                {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for row2 in details_data[key] %}			
                                                            <tr>
                                                                {% for cell in row2 %}
                                                                    <td>{{cell}}</td>
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>#}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        {%for name, value in overall_summary_data %}
                            <div class="summary_row">{{line('reports_'~name)~ ': '~(name=="consumo_medidor"?value~" m3":to_currency(value))}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
    if($export_excel == 1){
            $this->load->view("partial/footer_excel");
            $content = ob_end_flush();
            
            $filename = trim($filename);
            $filename = str_replace(array(' ', '/', '\\'), '', $title);
            $filename .= "_Export.xls";
            header('Content-type: application/ms-excel');
            header('Content-Disposition: attachment; filename='.$filename);
            echo $content;
            die();
            
    }else{
            $this->load->view("partial/footer"); 
    #}
{% endblock %}
{% block javascript %}
    {{parent()}}
    <script src="{{base_url()}}assets/bower_components/datatables/media/js/jquery.dataTables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}assets/bower_components/datatables-fixedcolumns/js/dataTables.fixedColumns.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}js/manage_tables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function (){
            oTable = $('#sortable_table').dataTable();
            $(".tablesorter a.expand").click(function (event){
                $(event.target).parent().parent().next().find('.innertable').toggle();
                if ($(event.target).text() == '+'){
                    $(event.target).text('-');
                }
                else{
                    $(event.target).text('+');
                }
                return false;
            });

        });
    </script>
{% endblock %}