{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
{%endblock%}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{line('common_list_of')~' '~line('module_'~controller_name)}}
                        {% if controller_name != "consumos" %}
                        <div class="btn-group" role="group">
                            {{ anchor(controller_name~"/view/-1?width="~form_width,line(controller_name~'_new'),
                {'class':'btn btn-primary thickbox','title':line(controller_name~'_new')})}}
                            {{anchor(controller_name~"/excel_import?width="~form_width,"Excel Import",
                {'class':'btn btn-info thickbox','title':'Import '~ line('module_'~controller_name) ~' from Excel'})}}
                        </div>
                        <div class="btn-group" role="group">
                            {{ anchor(controller_name~"/delete",line("common_delete"),{'id':'delete', 'class':'btn btn-warning'})}}
                            <a href="#" id="email" class="btn btn-default">{{line("common_email")}}</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            {{  manage_table }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="feedback_bar"></div>
{% endblock %}
{% block javascript %}
    {{parent()}}
    <script src="{{base_url()}}assets/bower_components/datatables/media/js/jquery.dataTables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}js/manage_tables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script type="text/javascript">
        var oTable;
        $(document).ready(function ()
        {
        {#            init_table_sorting();#}
                enable_select_all();
        {#		enable_checkboxes();#}
                enable_delete('Esta seguro que desea eliminar el elemento seleccionado?', '');
{#                enable_email('{{site_url(controller_name~"/mailto")}}');#}
        {#                enable_bulk_edit("Favor seleccione un usuario para editar","?width=580&height=450");#}

                oTable = $('#sortable_table').dataTable({
                    "processing": true,
                    "serverSide": true,{#                    "bJQueryUI": true,#}
                    "iDisplayLength": 10,{#                    "sPaginationType": "full_numbers",#}{#                    "sAjaxSource": 'customers/mis_datos',#}
                    "ajax": '{{controller_name}}/mis_datos',
                    "aoColumnDefs": [{'bSortable': false, 'aTargets': [0]}, {'bSortable': false, 'aTargets': [5]}],
                    "order": [[2, "asc"]],
                    "fnDrawCallback": function () {
                        //tb_init('a.thickbox, area.thickbox, input.thickbox');//pass where to apply thickbox
{#                        tb_init('#sortable_table a.thickbox');#}
        {#                        imgLoader = new Image();// preload image#}
                        //imgLoader.src = tb_pathToImage;
        				enable_row_selection();
                    }
                });
            });
            function post_person_form_submit(response)
            {
                if (!response.success)
                {
                    set_feedback(response.message, 'error_message', true);
                }
                else
                {
                    //This is an update, just update one row
                    if (jQuery.inArray(response.person_id, get_visible_checkbox_ids()) != -1)
                    {
                        update_row(response.person_id, '{{site_url(controller_name~"/get_row")}}');
                        set_feedback(response.message, 'success_message', false);

                    }
                    else //refresh entire table
                    {
                        do_search(true, function ()
                        {
                            //highlight new row
                            hightlight_row(response.person_id);
                            set_feedback(response.message, 'success_message', false);
                        });
                    }
                }
            }
    </script>
{%endblock%}