{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables-fixedcolumns/css/dataTables.fixedColumns.css"/>
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
{% endblock %}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                {{line('sales_register') }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-9 col-sm-9">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        {{ form_open("sales/add",{'id':'add_item_form', class:"form-horizontal"})}}
                                        <div class="form-group">
                                            <label id="item_label" for="item" class="col-sm-3">
                                                    {{ line('sales_find_or_scan_item') }}
                                            </label>
                                            <div class="col-sm-9">
                                                {{ form_input({'name':'customer_search','id':'customer_search','size':'40', 'class':'form-control'})}}
                                            </div>
                                        </div>
                                        </form>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Receiving Items List -->
                                        <div class="table-responsive">
                                            <table id="registerTable" class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:10%;">{{ line('common_delete')}}</th>
                                                        <th style="width:10%;">{{ line('consumo_id')}}</th>
                                                        <th style="width:20%;">{{ line('consumo_medidor')}}</th>
                                                        <th style="width:10%;">{{ line('sales_date')}}</th>
                                                        <th style="width:10%;">{{ line('consumo_cargo')}}</th>
                                                        <th style="width:10%;">{{ line('consumo_valor_cuota')}}</th>
                                                        <th style="width:10%;">{{ line('sales_interest')}}</th>
                                                        <th style="width:10%;">{{ line('sales_total')}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="cart_contents">
                                                    {% if cart|length>0 %}
                                                        {% for item_id, item in cart %}
                                                            {# {{line('sales_no_items_in_cart')}} #}
                                                            {{ form_open("sales/edit_item/"~item_id) }}
                                                            <tr class = '{{item['tipo_consumo'] == 'multa'?"info":item['tipo_consumo'] == 'medidor'?'warning': item['tipo_consumo'] == 'acometida' ? 'danger':"" }}'>
                                                                <td>{{ anchor("sales/delete_item/"~ item_id,'['~line('common_delete')~']')}}</td>
                                                                <td style="align:center;">{{ item['id']}}<br></td>
                                                                
                                                                <td style="align:center;">{{item['tipo_consumo'] == 'consumo'?item['consumo_medidor']:item['tipo_consumo']|capitalize }}<br/> 
                                                                    {{item['tipo_consumo'] == 'consumo'?"["~item['registro_medidor'] ~ " " ~ line('consumo_registro_medidor') ~"]":""}}
                                                                </td>

                                                                    <td>{{ item['fecha_consumo']}}</td>
                                                                    {# {{ form_hidden('price',item['fecha_consumo'])}} #}
                                                                    <td>{{ item['cargo']}}</td>
                                                                <td>{{ to_currency(item['valor_cuota'])}}</td>
                                                                <td>{{ to_currency(item['interes_generado'])}}</td>
                                                                <td>{{ to_currency(item['valor_a_pagar'])}}</td>
                                                                
                                                                {% if item['tipo_consumo'] == 'acometida' or item['tipo_consumo'] == 'medidor' %}
                                                                <tr>
                                                                    <td colspan="4"></td>
                                                                    <td>Paga/Debe</td>
                                                                    <td>{{ form_input({'name':'acometida','value':item['acometida'],'size':'3',class:"form-control input-sm"})}}</td>        
                                                                    {# <td>{{ to_currency(item['discount'])}}</td> <td>{{ form_submit("edit_item", line('sales_edit'),'class="btn btn-info btn-sm"')}}</td> #}
                                                                    <td>{{ to_currency(item['valor_a_pagar']-item['acometida'])}}</td> <td>{{ form_submit("edit_item", line('sales_edit'),'class="btn btn-info btn-sm"')}}</td>
                                                                </tr>
                                                                {% endif %}
                                                            </tr>
{#                                                                <td>{{ form_submit("edit_item", line('sales_edit_item'),'class="btn btn-info btn-sm"')}}</td>#}
{#                                                                <td>{{ to_currency(item['price']*item['quantity']-item['price']*item['quantity']*item['discount']/100)}}</td> <td>{{ form_submit("edit_item", line('sales_edit_item'),'class="btn btn-info btn-sm"')}}</td>#}
                                                            {{form_close()}}
                                                        {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#$cur_item_info = $this->Item->get_info($item['item_id']);#}
                            <div class="col-sm-3">
                                <div id="overall_sale">
                                    {% if customer is not empty%}
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">{{line("sales_customer")~': <b>'~customer~ '</b><br/>'}}
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="clearfix">&nbsp;</div>
                                    {% endif %}
                                    <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <p>
                                                    {{ line('sales_sub_total')}}:
                                                    <strong class="pull-right">{{ to_currency(subtotal)}}</strong>
                                                </p>
                                                {% for name, value in interests %}
                                                    <div class="float_left" style='width:55%;'>{{ name }}:</div>
                                                    <div class="float_left" style="width:45%;font-weight:bold;">{{ to_currency(value) }}</div>
                                                {% endfor %}
                                                <p>
                                                    {{ line('sales_total')}}:
                                                    <strong class="pull-right">{{ to_currency(total)}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        {% if cart|length > 0 %}
                                            {{ form_open("sales/cancel_sale",{'id':'cancel_sale_form'})}}
                                            <a href="#" id='cancel_sale_button'>
                                                <div class="panel-footer">
                                                    <span class="pull-left">{{ line('sales_cancel_sale')}}</span>
                                                    <span class="pull-right">
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                            {{ form_close() }}
                                        </div>
                                        {% if payments|length>0 %}
                                            <div class="panel panel-green">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        {{ form_open("sales/complete",{'id':'finish_sale_form'})}}
                                                        <label id="comment_label" for="comment">{{ line('common_comments')}}:</label>
                                                        {{ form_textarea({'name':'comment','value':'','rows':'4','cols':'23',class:'form-control'})}}
                                                    </div>
                                                </div>
                                                <a id="finish_sale_button" href="#">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">{{ line('sales_complete_sale')}}</span>
                                                        <span class="pull-right">
                                                            <i class="fa fa-arrow-circle-right"></i>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                                </form>
                                            </div>
                                        {% endif %}

                                        <div class="alert alert-info">
                                            <div class="row">
                                                <p>{{ line('sales_payments_total')~':'}}
                                                    <strong class="pull-right">{{ to_currency(payments_total)}}</strong>
                                                </p>
                                                <p>{{ (amount_due>=0 ? line('sales_amount_due'):line('sales_change_due'))~':'}}
                                                    <strong class="pull-right">{{ to_currency(amount_due)}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    {{ form_open("sales/add_payment",{'id':'add_payment_form'})}}
                                                    <div class="form-group form-group-sm">
                                                        {{ line('sales_payment')~':   '}}
                                                        {{ form_dropdown('payment_type',payment_options,{}, 'id="payment_types" class="form-control"')}}
                                                        {{ line('sales_amount_tendered')~':   '}}
                                                        {{ form_input({'name':'amount_tendered','value':to_currency_no_money(amount_due),'size':'10',class:'form-control'})	}}
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" id='add_payment_button'>
                                                <div class="panel-footer">
                                                    <span class="pull-left">{{ line('sales_add_payment')}}</span>
                                                    <span class="pull-right">
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                            </form>
                                        </div>
                                        {% if payments|length > 0 %}
                                            <div class="table-responsive">
                                                <table id="register" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:11%;">{{ line('common_delete')}}</th>
                                                            <th style="width:60%;">Tipo</th>
                                                            <th style="width:18%;">{{ line('sales_total')}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="payment_contents">
                                                        {% for payment_id,payment in payments %}
                                                            {{form_open("sales/edit_payment/"~payment_id,{'id':'edit_payment_form'~payment_id})}}
                                                            <tr>
                                                                <td>{{ anchor("sales/delete_payment/"~payment_id,'['~line('common_delete')~']')}}</td>
                                                                <td>{{  payment_options[payment_id]}} </td>
                                                                <td style="text-align:right;">{{ to_currency(payment['payment_amount']) }}  </td>
                                                            </tr>
                                                            </form>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endif %}	
                                    </div>
                                    <!-- YOOOO -->
                                {%endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{base_url()}}assets/bower_components/datatables/media/js/jquery.dataTables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function ()
        {
            /*$("#item").autocomplete('{{ site_url("sales/item_search")}}',
             {
             minChars: 0,
             max: 100,
             selectFirst: false,
             delay: 10,
             formatItem: function (row) {
             return row[1];
             }
             });
             
             $("#item").result(function (event, data, formatted)
             {
             $("#add_item_form").submit();
             });*/
        {% if error is not empty %}
                new PNotify({title: 'Oh No!', text: "{{error}}", type: 'error'});
        {%endif%}

        {% if warning is not empty %}
                new PNotify({title: 'Precaución!', text: "{{error}}"});
        {%endif%}

        {% if success is not empty %}
                new PNotify({title: 'Precaución!', text: "{{success}}", type: "success"});
        {%endif%}
                $("#customer_search").autocomplete({source: function (request, response) {
                        $.ajax({
                            url: "{{site_url('sales/customer_search')}}",
                            dataType: "json",
                            type: "POST",
                            data: {
                                q: request.term,
                                limit: 25
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    }, select: function (e, ui) {
                        valor = ui.item.value;
                        $(this).val(valor.split("|")[0]);
                        $("#add_item_form").submit();
                        //alert("User selected: " + ui.item.value);
                    }}
                );

                $('#customer_search').focus();

                $('#customer_search').blur(function ()
                {
                    $(this).attr('value', "{{ line('sales_start_typing_item_name')}}");
                });

                $('#customer_search').click(function ()
                {
                    $(this).attr('value', '');
                });

                $("#customer").autocomplete({source: function (request, response) {
                        $.ajax({
                            url: "{{site_url('sales/customer_search')}}",
                            dataType: "json",
                            type: "POST",
                            data: {
                                q: request.term,
                                limit: 25
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    }, select: function (e, ui) {
                        valor = ui.item.value;
                        $(this).val(valor.split("|")[0]);
                        $("#select_customer_form").submit();
                    }});

                $('#customer').blur(function ()
                {
                    $(this).attr('value', "{{ line('sales_start_typing_customer_name')}}");
                });

                $("#finish_sale_button").click(function ()
                {
                    if (confirm('{{ line("sales_confirm_finish_sale")}}'))
                    {
                        {#location.reload();#}
                        $('#finish_sale_form').submit();
                    }
                });

                $("#cancel_sale_button").click(function ()
                {
                    if (confirm('{{ line("sales_confirm_cancel_sale")}}'))
                    {
                        $('#cancel_sale_form').submit();
                    }
                });

                $("#add_payment_button").click(function ()
                {
                    $('#add_payment_form').submit();
                });

            });

            function post_item_form_submit(response)
            {
                if (response.success)
                {
                    $("#item").attr("value", response.item_id);
                    $("#add_item_form").submit();
                }
            }

            function post_person_form_submit(response)
            {
                if (response.success)
                {
                    $("#customer").attr("value", response.person_id);
                    $("#select_customer_form").submit();
                }
            }

    </script>
{% endblock %}