{% block header %}
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{base_url()}}">{{config('company')}}</a><br />
                <!--<span style='font-size:8pt;'><?php echo $this->lang->line('common_powered_by') . ' PHP Point Of Sale'; ?></span>-->
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <div>{{line('common_welcome') ~  user_info.first_name ~ ' '~ user_info.last_name~'!'}}</div>
                </li>
                <li class="dropdown">
                    <div id="menubar_date">
                        <span style='font-size:8pt;'>
{#                            {{ strftime("%d de %B del %Y %H:%M")}}#}
                            {{ 'now'|date('d-m-Y g:ia') }}
                        </span>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-user fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i>
                                User Profile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-gear fa-fw"></i>
                                Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="home/logout">
                                <i class="fa fa-sign-out fa-fw"></i>
                                {{line("common_logout")}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse collapse in" aria-expanded="true">
                    <ul id="side-menu" class="nav in">
                        <li>
                            <a href="{{site_url('home')}}">
                                <i class="fa fa-dashboard fa-fw"></i>
                                {{line("module_home")}}
                            </a>




                        </li>
                         {% for module in allowed_modules.result %}
                        <li>
                            <a href="{{site_url(module.module_id)}}">
                                <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" alt={{module.desc_lang_key}} style="width: 23px; height: 23px;"/>
                                     {{line("module_" ~ module.module_id)}}
                            </a>
                        </li>
                        {%endfor%}

                    </ul>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}  