{{ form_open_multipart('items/do_excel_import/',{'id':'item_form'})}}
<ul id="error_message_box"></ul>
<p>{{line('items_template')}} <b><a href="{{ base_url()~'/'~'Import-PHPPOS.xls'}}" class="btn btn-default">{{line('common_download')}}</a></b></p>
<fieldset id="item_basic_info">
<legend>Import</legend>

<div class="form-group">	
{{ form_label(line('items_file')~':', 'name') }}
	{{ form_upload({'name':'file_path','id':'file_path','value':'','class':'form-control'} ) }}
</div>
{{ form_submit({'name':'submit','value':line('common_submit'),'class':'btn btn-success'})}}
</fieldset>
{{ form_close() }}
<script src="{{base_url()}}assets/bower_components/jquery-form/jquery.form.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
<script type='text/javascript'>
$(document).ready(function(){	
    $('#item_form').validate({
        submitHandler:function(form){                   
            $(form).ajaxSubmit({
                success:function(response){
                    tb_remove();
                    post_item_form_submit(response);
                },
                dataType:'json'
            });
        },
        errorLabelContainer: "#error_message_box",
        wrapper: "li",
        rules: {
                file_path:"required"
        },
        messages: {
                file_path:"Full path to excel file required"
        }
    });
});
</script>