{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables-fixedcolumns/css/dataTables.fixedColumns.css"/>
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
{% endblock %}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                {{ line('recvs_register') }}
                                {{ anchor("items/view/-1?width=360",
		"<div class='small_button'><span>"~line('sales_new_item')~"</span></div>",
		{'class':'btn btn-success btn-sm thickbox','title':line('sales_new_item')})
                                }}
                            </div>
                            <div class="col-lg-6 col-sm-4">
                                {{ form_open("receivings/change_almacen",{'id':'almacen_form', class:"form-inline"})}}
                                <div class="form-group-sm">
                                    {{ form_label(line('almacenes_almacen'),'almacen')}}
                                    {{ form_dropdown('almacen',almacenes,almacen,'onchange="$(\'#almacen_form\').submit();" class="form-control"')}}
                                </div>
                                </form>
                            </div>
                            <div class="col-lg-6 col-sm-4">
                                {{ form_open("receivings/change_mode",{'id':'mode_form', class:"form-inline"})}}
                                <div class="form-group-sm">
                                    {{form_label( line('recvs_mode'),'mode') }}
                                    {{ form_dropdown('mode',modes,mode,'onchange="$(\'#mode_form\').submit();" class="form-control"')}}
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-9 col-sm-9">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        {{ form_open("receivings/add",{'id':'add_item_form', class:"form-horizontal"})}}
                                        <div class="form-group">
                                            <label id="item_label" for="item" class="col-sm-3">
                                                {% if(mode=='receive') %}
                                                    {{ line('recvs_find_or_scan_item') }}
                                                {% else %}
                                                    {{ line('recvs_find_or_scan_item_or_receipt') }}
                                                {% endif %}
                                            </label>
                                            <div class="col-sm-9">
                                                {{ form_input({'name':'item','id':'item','size':'40', 'class':'form-control'})}}
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Receiving Items List -->
                                        <div class="table-responsive">
                                            <table id="registerTable" class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:11%;">{{ line('common_delete')}}</th>
                                                        <th style="width:30%;">{{ line('recvs_item_name')}}</th>
                                                        <th style="width:11%;">{{ line('recvs_cost')}}</th>
                                                        <th style="width:11%;">{{ line('recvs_quantity')}}</th>
                                                        <th style="width:11%;">{{ line('recvs_discount')}}</th>
                                                        <th style="width:15%;">{{ line('recvs_total')}}</th>
                                                        <th style="width:11%;">{{ line('recvs_edit')}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="cart_contents">
                                                    {% if cart|length>0 %}
                                                        {# foreach(cart as item_id:item)#}
                                                        {% for item_id, item in cart %}
                                                            {{ form_open("receivings/edit_item/"~item_id) }}
                                                            <tr>
                                                                <td>{{ anchor("receivings/delete_item/"~ item_id,'['~line('common_delete')~']')}}</td>

                                                                <td style="align:center;">{{ item['name']}}<br>

                                                                    {% if item['allow_alt_description']==1 and false %}
                                                                        {{ form_input({'name':'description','value':item['description'],'size':'20'}) }}
                                                                    {% else %}
                                                                        {{item['description']}}
                                                                        {{form_hidden('description',item['description'])}}
                                                                    {% endif %}
                                                                    <br>
                                                                    {% if item['is_serialized']==1 and false %}
                                                                        {{form_input({'name':'serialnumber','value':item['serialnumber'],'size':'20'}) }}
                                                                    {% endif %}</td>
                                                                    {% if items_module_allowed %}
                                                                    <td>{{ form_input({'name':'price','value':item['price'],'size':'6',class:"form-control input-sm"})}}</td>
                                                                {% else %}
                                                                    <td>{{ item['price']}}</td>
                                                                    {{ form_hidden('price',item['price'])}}
                                                                {% endif %}
                                                                <td>
                                                                    {% if item['is_serialized']==1 and false %}
                                                                        {{ item['quantity'] }}
                                                                        {{ form_hidden('quantity',item['quantity']) }}
                                                                    {% else %}
                                                                        {{ form_input({'name':'quantity','value':item['quantity'],'size':'2',class:"form-control input-sm"}) }}
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ form_input({'name':'discount','value':item['discount'],'size':'3',class:"form-control input-sm"})}}</td>
                                                                <td>{{ to_currency(item['price']*item['quantity']-item['price']*item['quantity']*item['discount']/100)}}</td>
                                                                <td>{{ form_submit("edit_item", line('sales_edit_item'),'class="btn btn-info btn-sm"')}}</td>
                                                            </tr>
                                                            </form>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Overall Receiving -->
                            <div class="col-sm-3">
                                <div id="overall_sale">
                                    {% if supplier is not empty%}
                                        <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                        {{line("recvs_supplier")~': <b>'~supplier~ '</b><br/>'}}
                                            </div>
                                            </div>
                                        {{anchor("receivings/delete_supplier",'
<div class="panel-footer">
                                                    <span class="pull-left">'~line("common_delete")~" "~line("suppliers_supplier")~'</span>
                                                    <span class="pull-right">
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
')}}
                                        </div>
                                    {% else %}
                                        {{form_open("receivings/select_supplier",{'id':'select_supplier_form'})}}
                                        <div class="form-group-sm">
                                            <label id="supplier_label" for="supplier">{{ line('recvs_select_supplier')}}</label>
                                            {{ form_input({'name':'supplier','id':'supplier','size':'30','value':line('recvs_start_typing_supplier_name'), 'class':'form-control'})}}
                                        </div>
                                        </form>
                                        <div style="margin-top:5px;text-align:center;">
                                            <h3 style="margin: 5px 0 5px 0">{{ line('common_or')}}</h3>
                                            {{ anchor("suppliers/view/-1?width=350",
		line('recvs_new_supplier'),
		{'class':'thickbox none btn btn-warning btn-sm','title':line('recvs_new_supplier')})
                                            }}
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    {% endif %}

                                    <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <p>
                                                    {{ line('sales_sub_total')}}:
                                                    <strong class="pull-right">{{ to_currency(subtotal)}}</strong>
                                                </p>
                                                <p>
                                                    {{ line('sales_total')}}:
                                                    <strong class="pull-right">{{ to_currency(total)}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        {% if cart|length > 0 %}
                                            {{ form_open("receivings/cancel_receiving",{'id':'cancel_sale_form'})}}
                                            <a href="#" id='cancel_sale_button'>
                                                <div class="panel-footer">
                                                    <span class="pull-left">{{ line('recvs_cancel_receiving')}}</span>
                                                    <span class="pull-right">
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                            </form>
                                        </div>
                                        {% if payments|length>0 %}
                                            <div class="panel panel-green">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        {{ form_open("receivings/complete",{'id':'finish_sale_form'})}}
                                                        <label id="comment_label" for="comment">{{ line('common_comments')}}:</label>
                                                        {{ form_textarea({'name':'comment','value':'','rows':'4','cols':'23',class:'form-control'})}}
                                                        <!--<div class='small_button' id='finish_sale_button' style='float:left;margin-top:5px;'><span>{{line('recvs_complete_receiving')}}</span></div>-->
                                                    </div>
                                                </div>
                                                <a id="finish_sale_button" href="#">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">{{ line('recvs_complete_receiving')}}</span>
                                                        <span class="pull-right">
                                                            <i class="fa fa-arrow-circle-right"></i>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                                </form>
                                            </div>
                                        {% endif %}
                                        <div class="alert alert-info">
                                            <div class="row">
                                                <p>{{ line('recvs_payments_total')~':'}}
                                                    <strong class="pull-right">{{ to_currency(amount_tendered)}}</strong>
                                                </p>
                                                <p>{{ (amount_due>=0 ? line('recvs_amount_due'):line('recvs_change_due'))~':'}}
                                                    <strong class="pull-right">{{ to_currency(amount_due)}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- YOOOO -->
                                        <div>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        {{ form_open("receivings/add_payment",{'id':'add_payment_form'})}}
                                                        <div class="form-group form-group-sm">
                                                            {{ line('sales_payment')~':   '}}
                                                            {{ form_dropdown('payment_type',payment_options,{}, 'id="payment_types" class="form-control"')}}
                                                            {{ line('sales_amount_tendered')~':   '}}
                                                            {{ form_input({'name':'amount_tendered','value':to_currency_no_money(amount_due),'size':'10',class:'form-control'})	}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" id='add_payment_button'>
                                                    <div class="panel-footer">
                                                        <span class="pull-left">{{ line('sales_add_payment')}}</span>
                                                        <span class="pull-right">
                                                            <i class="fa fa-arrow-circle-right"></i>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                                </form>
                                            </div>
                                            {% if payments|length > 0 %}
                                                <div class="table-responsive">
                                                    <table id="register" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:11%;">{{ line('common_delete')}}</th>
                                                                <th style="width:60%;">Tipo</th>
                                                                <th style="width:18%;">{{ line('recvs_total')}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="payment_contents">
                                                            {% for payment_id,payment in payments %}
                                                                {{form_open("receivings/edit_payment/"~payment_id,{'id':'edit_payment_form'~payment_id})}}
                                                                <tr>
                                                                    <td>{{ anchor("receivings/delete_payment/"~payment_id,'['~line('common_delete')~']')}}</td>
                                                                    <td>{{  payment_options[payment_id]}} </td>
                                                                    <td style="text-align:right;">{{ to_currency(payment['payment_amount']) }}  </td>
                                                                </tr>
                                                                </form>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <!-- YOOOO -->
                                    {%endif %}
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:30px;">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

        {% block javascript %}
            {{ parent() }}
            <script src="{{base_url()}}assets/bower_components/datatables/media/js/jquery.dataTables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function () {
                    /*var oTable = $('#registerTable').dataTable({bFilter: false, bInfo: false, "bLengthChange": false,
                     "language": {
                     "emptyTable": "{{ line('sales_no_items_in_cart')}}"
                     }});*/
                    /*$("#item").autocomplete('{{ site_url("receivings/item_search")}}',
                     {
                     minChars:0,
                     max:100,
                     delay:10,
                     selectFirst: false,
                     formatItem: function(row) {
                     return row[1];
                     }
                     });*/
                    $("#item").autocomplete({source: function (request, response) {
                            $.ajax({
                                url: "{{site_url('receivings/item_search')}}",
                                dataType: "json",
                                type: "POST",
                                data: {
                                    q: request.term,
                                    limit: 25
                                },
                                success: function (data) {
                                    response(data);
                                }
                            });
                        }, select: function (e, ui) {
                            valor = ui.item.value;
                            $(this).val(valor.split("|")[0]);
                            $("#add_item_form").submit();
                            //alert("User selected: " + ui.item.value);
                        }}
                    );

                    /*$("#item").result(function(event, data, formatted)
                     {
                     $("#add_item_form").submit();
                     });*/

                    $('#item').focus();

                    $('#item').blur(function ()
                    {
                        $(this).attr('value', "{{ line('sales_start_typing_item_name')}}");
                    });

                    $('#item,#supplier').click(function ()
                    {
                        $(this).attr('value', '');
                    });

                    /*$("#supplier").autocomplete('{{ site_url("receivings/supplier_search")}}',
                     {
                     minChars:0,
                     delay:10,
                     max:100,
                     formatItem: function(row) {
                     return row[1];
                     }
                     });*/
                    $("#supplier").autocomplete({source: function (request, response) {
                            $.ajax({
                                url: "{{site_url('receivings/supplier_search')}}",
                                dataType: "json",
                                type: "POST",
                                data: {
                                    q: request.term,
                                    limit: 25
                                },
                                success: function (data) {
                                    response(data);
                                }
                            });
                        }, select: function (e, ui) {
                            valor = ui.item.value;
                            $(this).val(valor.split("|")[0]);
                            $("#select_supplier_form").submit();
                            //alert("User selected: " + ui.item.value);
                        }});

                    /*$("#supplier").result(function(event, data, formatted)
                     {
                     $("#select_supplier_form").submit();
                     });*/

                    $('#supplier').blur(function ()
                    {
                        $(this).attr('value', "{{ line('recvs_start_typing_supplier_name')}}");
                    });

                    $("#finish_sale_button").click(function ()
                    {
                        if (confirm('{{ line("recvs_confirm_finish_receiving")}}'))
                        {
                            $('#finish_sale_form').submit();
                        }
                    });

                    $("#cancel_sale_button").click(function ()
                    {
                        if (confirm('{{ line("recvs_confirm_cancel_receiving")}}'))
                        {
                            $('#cancel_sale_form').submit();
                        }
                    });

                    $("#add_payment_button").click(function ()
                    {
                        $('#add_payment_form').submit();
                    });


                });

                function post_item_form_submit(response)
                {
                    if (response.success)
                    {
                        $("#item").attr("value", response.item_id);
                        $("#add_item_form").submit();
                    }
                }

                function post_person_form_submit(response)
                {
                    if (response.success)
                    {
                        $("#supplier").attr("value", response.person_id);
                        $("#select_supplier_form").submit();
                    }
                }

            </script>
        {% endblock %}