{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{base_url()}}css/phppos_print.css"/>
    <link rel="stylesheet" href="{{base_url()}}css/receipt.css"/>
{% endblock %}
{% block content %}
<div id="receipt_wrapper">
	<div id="receipt_header">
            <div id="company_name">{{ company }}</div>
            <div id="company_address">{{ address|nl2br }}</div>
            <div id="company_phone">{{ phone }}</div>
            <div id="sale_receipt">{{ receipt_title }}</div>
            <div id="sale_time">{{ transaction_time }}</div>
        </div>
	<div id="receipt_general_info">
                {% if supplier is not empty %}
			<div id="customer">{{ line('suppliers_supplier')~": "~supplier }}</div>
		{% endif %}
		<div id="sale_id">{{ line('recvs_id')~": "~receiving_id }}</div>
		<div id="employee">{{ line('employees_employee')~": "~employee }}</div>
	</div>

	<table id="receipt_items">
	<tr>
	<th style="width:50%;">{{ line('items_item') }}</th>
	<th style="width:17%;">{{ line('common_price') }}</th>
	<th style="width:16%;text-align:center;">{{ line('sales_quantity') }}</th>
	<th style="width:16%;text-align:center;">{{ line('sales_discount') }}</th>
	<th style="width:17%;text-align:right;">{{ line('sales_total') }}</th>
	</tr>
	{% for line, item in cart %}
		<tr>
		<td><span class='long_name'>{{ item['name'] }}</span><span class='short_name'>{{ item['name'][0:10] }}</span></td>
		<td>{{  to_currency(item['price']) }}</td>
		<td style='text-align:center;'>{{ item['quantity'] }}</td>
		<td style='text-align:center;'>{{ item['discount'] }}</td>
		<td style='text-align:right;'>{{  to_currency(item['price']*item['quantity']-item['price']*item['quantity']*item['discount']/100) }}</td>
		</tr>
	    <tr>

	    <td colspan="2" align="center">{{ item['description'] }}</td>
		<td colspan="2" >{{ item['serialnumber'] }}</td>
		<td colspan="1">{{  '---' }}</td>
	    </tr>
	{% endfor %}
	<tr>
	<td colspan="3" style='text-align:right;border-top:2px solid #000000;'>{{ line('sales_total') }}</td>
	<td colspan="2" style='text-align:right;border-top:2px solid #000000;'>{{ to_currency(total) }}</td>
	</tr>
	<tr><td colspan="6">&nbsp;</td></tr>

	<!-- <?php //foreach($taxes as $name=>$value) { }}
		<tr>
			<td colspan="3" style='text-align:right;'><?php //echo $name }}:</td>
			<td colspan="2" style='text-align:right;'><?php //echo to_currency($value) }}</td>
		</tr>
	<?php //} }} -->

	{% for payment_id,payment in payments %}
		<tr>
		<td colspan="1" style="text-align:right;">{{ line('sales_payment') }}</td>
		<td colspan="2" style="text-align:right;">{{ payment['payment_type'] }} </td>
		<td colspan="2" style="text-align:right">{{ to_currency(payment['payment_amount'] * -1 )  }}  </td>
	    </tr>
	{% endfor %}
	<tr><td colspan="6">&nbsp;</td></tr>
	{% if amount_change is not empty %}
		<tr>
		<td colspan="3" style='text-align:right;'>{{ line('sales_amount_tendered') }}</td>
		<td colspan="2" style='text-align:right'>{{ amount_tendered }}</td>
		</tr>

		<tr>
		<td colspan="3" style='text-align:right;'>{{ line('sales_change_due') }}</td>
		<td colspan="2" style='text-align:right'>{{ amount_change }}</td>
		</tr>
	{% endif %}
	</table>

	<div id="sale_return_policy">
	{{return_policy|nl2br}}
	</div>
	<div id='barcode'>
        <img src="{{base_url()}}index.php/barcode?barcode={{receiving_id}}&text={{receiving_id}}&width=250&height=50" />
	</div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).load(function () {
        {% if print_after_sale %}                   
            window.print();
        {% endif %}
            });
    </script>
{% endblock %}